.header {
  /* height is always 95% viewport height */
  height: 95vh;
  /* add gradient on top of background image - can specify direction in which gradient changes*/
  background-image: linear-gradient(
      to right bottom,
      $color-primary-purple,
      $color-primary-light-blue
    ),
    url(../img/hero.jpg);
  /* try to fit element inside viewport */
  background-size: cover;
  /* make image stay at the top of image as viewport changes  */
  background-position: top;
  /* coordinates of polygon clip shape */
  // clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  /* this is the reference origin for logo-box */
  position: relative;

  .logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
    .logo {
      height: 35px;
    }
  }

  .text-box {
    /* textbox is in relation to header element */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* align text property in box to center */
    text-align: center;
  }
}
