// define color variables
$color-primary-purple: rgba(1, 0, 17, 0.205);
$color-primary-light-pink: #ffd1dc;
$color-primary-pink: #d400ff3a;
$color-primary-light-blue: #5994cec7;
$color-primary-dark-blue: #3a4d93c2;

$color-grey-dark: rgb(39, 37, 37);
$color-grey-dark-2: #999;
$color-grey-dark-3: rgba(51, 51, 51, 0.253);

$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;

$olor-orange: #f05e23;
$olor-orange-light: #f59e57;
$olor-orange-dark: #f8493a;

// GRID
// $grid-width: 114rem;
// $gutter-vertical: 8rem;
// $gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;

// GRID
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
