.btn {
  /* Button - pseudo class (state of selector)*/
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    /* makes this an inline block element - treat this as text */
    display: inline-block;
    border-radius: 5rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;
  }
  &:hover {
    transform: scale(1.1);
  }
  &-white {
    background-color: $color-white;
    color: $color-grey-dark;
  }
  /* push button down animation */
  &:active {
    transform: translateY(-1px);
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary-purple;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary-purple;
    padding: 3px;
  }

  &:hover {
    background-color: $color-primary-purple;
    color: $color-white;
    transform: translateY(-2px);
  }
}
