body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: $color-grey-dark;
  /* adding white padding for white outline */
  padding: 30px;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /* add space between this and button */
  margin-bottom: 30px;

  &-main {
    /* display-block elements - occupy entire width and create linebreaks */
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    /* add animation style and duration */
    animation-name: fadeIn;
    animation-duration: 2s;
  }
  &-sub {
    display: block;
    font-size: 20px;
    font-weight: 380;
    letter-spacing: 20px;
    animation-name: fadeIn;
    animation-duration: 2s;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light-blue,
    $color-primary-dark-blue
  );
  // color ends when text ends
  display: inline-block;
  // clip background to text
  -webkit-background-clip: text;
  color: transparent;
  // background-image: linear-gradient(
  //   to-right,
  //   $color-primary-light-blue,
  //   $color-primary-dark-blue
  // );
  transition: all 0.2s;
  &:hover {
    transform: skewY(2deg);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
