.section-about {
  $color-grey-light-1: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

// linear-gradient(
//   //     to right bottom,
//   //     $color-primary-purple,
//   //     $color-primary-light-blue
//   //   ),

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to bottom,
      $color-primary-pink,
      $color-primary-purple
    ),
    url(../img/vaporwave.jpg);
  // transform: skewY(-7deg);
  background-size: cover;
  background-position: center;
  margin-top: -10rem;
  // & > * {
  //   transform: skewY(7deg);
  // }

  // @include respond(tab-port) {
  //   padding: 10rem 0;
  // }
}

.section-projects {
  background-color: $color-grey-light-1;
  padding: 10rem 0 15rem 0;
  margin-top: -10rem;
  // background-image: linear-gradient(
  //     to bottom,
  //     $color-primary-purple,
  //     $color-primary-dark-blue
  //   ),
  //   url(../img/vaporwave.jpg);

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}
